<!DOCTYPE html>
<html>

<head>
  <title>Page Title</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</head>


<body>
  <div class="container">
    <h2>Questions to find best match</h2>
    <hr>
    <h3>About You</h3>
    <h4>Name (required)</h4>
    <input type="text" name="" id="name" class="filled-form" required>

    <h4>Photo Image(required)</h4>
    <input type="text" name="" id="photo" class="filled-form" required>
    <hr>

    <h3>-Questions 1-</h3>
    <h4>Question here</h4>
    <select data-placeholder="" class="select-answer" id="question1">
      <option value=""></option>
      <option value="1">1 Strongly Disagree</option>
      <option value="2">2 Somewhat disagree</option>
      <option value="3">3 Neither agree nor disagree</option>
      <option value="4">4 Somewhat agree</option>
      <option value="5">5 Strongly Agree</option>

    </select>

    <h3>-Questions 2-</h3>
    <h4>Question here</h4>
    <select data-placeholder="" class="select-answer" id="question2">
      <option value=""></option>
      <option value="1">1 Strongly Disagree</option>
      <option value="2">2 Somewhat disagree</option>
      <option value="3">3 Neither agree nor disagree</option>
      <option value="4">4 Somewhat agree</option>
      <option value="5">5 Strongly Agree</option>

    </select>

    <h3>-Questions 3-</h3>
    <h4>Question here</h4>
    <select data-placeholder="" class="select-answer" id="question3">
      <option value=""></option>
      <option value="1">1 Strongly Disagree</option>
      <option value="2">2 Somewhat disagree</option>
      <option value="3">3 Neither agree nor disagree</option>
      <option value="4">4 Somewhat agree</option>
      <option value="5">5 Strongly Agree</option>

    </select>

    <h3>-Questions 4-</h3>
    <h4>Question here</h4>
    <select data-placeholder="" class="select-answer" id="question4">
      <option value=""></option>
      <option value="1">1 Strongly Disagree</option>
      <option value="2">2 Somewhat disagree</option>
      <option value="3">3 Neither agree nor disagree</option>
      <option value="4">4 Somewhat agree</option>
      <option value="5">5 Strongly Agree</option>

    </select>

    <h3>-Questions 5-</h3>
    <h4>Question here</h4>
    <select data-placeholder="" class="select-answer" id="question5">
      <option value=""></option>
      <option value="1">1 Strongly Disagree</option>
      <option value="2">2 Somewhat disagree</option>
      <option value="3">3 Neither agree nor disagree</option>
      <option value="4">4 Somewhat agree</option>
      <option value="5">5 Strongly Agree</option>

    </select>

    <h3>-Questions 6-</h3>
    <h4>Question here</h4>
    <select data-placeholder="" class="select-answer" id="question6">
      <option value=""></option>
      <option value="1">1 Strongly Disagree</option>
      <option value="2">2 Somewhat disagree</option>
      <option value="3">3 Neither agree nor disagree</option>
      <option value="4">4 Somewhat agree</option>
      <option value="5">5 Strongly Agree</option>

    </select>

    <h3>-Questions 7-</h3>
    <h4>Question here</h4>
    <select data-placeholder="" class="select-answer" id="question7">
      <option value=""></option>
      <option value="1">1 Strongly Disagree</option>
      <option value="2">2 Somewhat disagree</option>
      <option value="3">3 Neither agree nor disagree</option>
      <option value="4">4 Somewhat agree</option>
      <option value="5">5 Strongly Agree</option>

    </select>

    <h3>-Questions 8-</h3>
    <h4>Question here</h4>
    <select data-placeholder="" class="select-answer" id="question8">
      <option value=""></option>
      <option value="1">1 Strongly Disagree</option>
      <option value="2">2 Somewhat disagree</option>
      <option value="3">3 Neither agree nor disagree</option>
      <option value="4">4 Somewhat agree</option>
      <option value="5">5 Strongly Agree</option>

    </select>

    <h3>-Questions 9-</h3>
    <h4>Question here</h4>
    <select data-placeholder="" class="select-answer" id="question9">
      <option value=""></option>
      <option value="1">1 Strongly Disagree</option>
      <option value="2">2 Somewhat disagree</option>
      <option value="3">3 Neither agree nor disagree</option>
      <option value="4">4 Somewhat agree</option>
      <option value="5">5 Strongly Agree</option>

    </select>

    <h3>-Questions 10-</h3>
    <h4>Question here</h4>
    <select data-placeholder="" class="select-answer" id="question10">
      <option value=""></option>
      <option value="1">1 Strongly Disagree</option>
      <option value="2">2 Somewhat disagree</option>
      <option value="3">3 Neither agree nor disagree</option>
      <option value="4">4 Somewhat agree</option>
      <option value="5">5 Strongly Agree</option>

    </select>
    <br>
    <br>
    <a class="btn btn-primary btn-lg" href="#" role="button">Submit Survey</a>

  </div>





</body>

</html>