<!DOCTYPE html>
<html>

<head>
  <title>Friend Finder</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</head>


<body>
  <div class="container">
    <h2>Questions to find best match</h2>
    <hr>
    <h3>About You</h3>
    <h4>Name (required)</h4>
    <input type="text" name="" id="name" class="filled-form" required>

    <h4>Photo Image(required)</h4>
    <input type="img" name="" id="photo" class="filled-form" required>
    <hr>

    <h3>-Questions 1-</h3>
    <h4>Life is too important to be taken seriously</h4>
    <select data-placeholder="" class="select-answer" id="question1">
      <option value=""></option>
      <option value="1">1 Strongly Disagree</option>
      <option value="2">2 Somewhat disagree</option>
      <option value="3">3 Neither agree nor disagree</option>
      <option value="4">4 Somewhat agree</option>
      <option value="5">5 Strongly Agree</option>

    </select>

    <h3>-Questions 2-</h3>
    <h4>Difficult and meaningful will always bring more satisfaction than easy and meaningless</h4>
    <select data-placeholder="" class="select-answer" id="question2">
      <option value=""></option>
      <option value="1">1 Strongly Disagree</option>
      <option value="2">2 Somewhat disagree</option>
      <option value="3">3 Neither agree nor disagree</option>
      <option value="4">4 Somewhat agree</option>
      <option value="5">5 Strongly Agree</option>

    </select>

    <h3>-Questions 3-</h3>
    <h4>Not how long, but how well you have lived is the main thing</h4>
    <select data-placeholder="" class="select-answer" id="question3">
      <option value=""></option>
      <option value="1">1 Strongly Disagree</option>
      <option value="2">2 Somewhat disagree</option>
      <option value="3">3 Neither agree nor disagree</option>
      <option value="4">4 Somewhat agree</option>
      <option value="5">5 Strongly Agree</option>

    </select>

    <h3>-Questions 4-</h3>
    <h4>Be happy for this moment. This moment is your life</h4>
    <select data-placeholder="" class="select-answer" id="question4">
      <option value=""></option>
      <option value="1">1 Strongly Disagree</option>
      <option value="2">2 Somewhat disagree</option>
      <option value="3">3 Neither agree nor disagree</option>
      <option value="4">4 Somewhat agree</option>
      <option value="5">5 Strongly Agree</option>

    </select>

    <h3>-Questions 5-</h3>
    <h4>It is better to be hated for what you are than to be loved for what you are not</h4>
    <select data-placeholder="" class="select-answer" id="question5">
      <option value=""></option>
      <option value="1">1 Strongly Disagree</option>
      <option value="2">2 Somewhat disagree</option>
      <option value="3">3 Neither agree nor disagree</option>
      <option value="4">4 Somewhat agree</option>
      <option value="5">5 Strongly Agree</option>

    </select>

    <h3>-Questions 6-</h3>
    <h4>Believe that life is worth living and your belief will help create the fact</h4>
    <select data-placeholder="" class="select-answer" id="question6">
      <option value=""></option>
      <option value="1">1 Strongly Disagree</option>
      <option value="2">2 Somewhat disagree</option>
      <option value="3">3 Neither agree nor disagree</option>
      <option value="4">4 Somewhat agree</option>
      <option value="5">5 Strongly Agree</option>

    </select>

    <h3>-Questions 7-</h3>
    <h4>The trick in life is learning how to deal with it</h4>
    <select data-placeholder="" class="select-answer" id="question7">
      <option value=""></option>
      <option value="1">1 Strongly Disagree</option>
      <option value="2">2 Somewhat disagree</option>
      <option value="3">3 Neither agree nor disagree</option>
      <option value="4">4 Somewhat agree</option>
      <option value="5">5 Strongly Agree</option>

    </select>

    <h3>-Questions 8-</h3>
    <h4>Don’t gain the world and lose your soul, wisdom is better than silver or gold</h4>
    <select data-placeholder="" class="select-answer" id="question8">
      <option value=""></option>
      <option value="1">1 Strongly Disagree</option>
      <option value="2">2 Somewhat disagree</option>
      <option value="3">3 Neither agree nor disagree</option>
      <option value="4">4 Somewhat agree</option>
      <option value="5">5 Strongly Agree</option>

    </select>

    <h3>-Questions 9-</h3>
    <h4>Anyone who lives within their means suffers from a lack of imagination</h4>
    <select data-placeholder="" class="select-answer" id="question9">
      <option value=""></option>
      <option value="1">1 Strongly Disagree</option>
      <option value="2">2 Somewhat disagree</option>
      <option value="3">3 Neither agree nor disagree</option>
      <option value="4">4 Somewhat agree</option>
      <option value="5">5 Strongly Agree</option>

    </select>

    <h3>-Questions 10-</h3>
    <h4>You only live once, but if you do it right, once is enough</h4>
    <select data-placeholder="" class="select-answer" id="question10">
      <option value=""></option>
      <option value="1">1 Strongly Disagree</option>
      <option value="2">2 Somewhat disagree</option>
      <option value="3">3 Neither agree nor disagree</option>
      <option value="4">4 Somewhat agree</option>
      <option value="5">5 Strongly Agree</option>

    </select>
    <br>
    <br>
    <a class="btn btn-primary btn-lg" href="#" role="button">Submit Survey</a>

  </div>
  <hr>

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Your Soul Mate</h4>
        </div>
        <div class="modal-body">
          <h2 id="matchName"></h2>
          <img id="matching" src="" alt="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>



  <script type="text/javascript">
    // //selected css
    // var config = {
    //   ".chosen-select": {},
    //   ".chosen-select-deselect": { allowSingleDeselect: true },
    //   ".chosen-select-no-single": { disableSearch: 10 },
    //   ".chosen-select-no-results": { noResultsText: "No result founded!" },
    //   ".chosen-select-witdh": { width: "90%" }
    // };

    // for (var selector in config) {
    //   $(selectore).chosen(config[selector]);
    // }

    $("#submit").on("click", function () {
      function validateForm() {
        var isValid = true;
        $(".form-control").each(function () {
          if ($(this).val() === "") {
            isValid = false;
          }
        });

        $(".chosen-select").each(function () {
          if ($(this).val() === "") {
            isValid = false;
          }
        });

        return isValid;

      }

      if (validateForm()) {
        var userData = {
          name: $("#name").val(),
          photo: $("#photo").val(),
          scores: [
            $("#q1").val(),
            $("#q2").val(),
            $("#q3").val(),
            $("#q4").val(),
            $("#q5").val(),
            $("#q6").val(),
            $("#q7").val(),
            $("#q8").val(),
            $("#q9").val(),
            $("#q10").val(),
          ]
        };

        var currentURL = window.location.origin;
        $.post(currentURL + "/api/friends", userData, function (data) {

          // //Take the result from ajax and find best match
          $("#matchName").text(data.name);
          $("#matching").attr("src", data.photo);
          // //Use bootsrap modal
          $("#resultsModal").modal("toogle"); 

          // alert("works");

        });
      }
      else {
        alert("Fill out informations")
      }
      return false;
    });





  </script>

</body>

</html>